<div class="col-md-6">

  <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" [(ngModel)]="login.email" placeholder="Email" name="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="login.password" placeholder="Password" name="password" class="form-control" id="password">
</div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>